<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <section name="qConfig" type="Q.Common.Configurations.QFrameworkConfiguration, Q.Common"/>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35, processorArchitecture=MSIL"/>
  </configSections>
  
  <dataConfiguration defaultDatabase="ConnectionString"/>

  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=192.168.1.12;Initial Catalog=APMCostControlTest;User Id=developuser;Password=developuser;" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <qConfig applicationKey="CPB">
    <stringResources>
      <add assemblyName="Q.Common"/>
    </stringResources>
    <dataaccess queryBuilderImplementation="Q.DataAccess.MsSql.MsSqlQueryBuilder, Q.DataAccess.MsSql" dataBaseType="MsSql">
      <add assemblyName="LEA.Dashboard.DataAccess.MsSQL"/>
    </dataaccess>
    <domain>
      <mapping>
      </mapping>
    </domain>
  </qConfig>
  
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  
  <system.webServer>
    <handlers>
      <add name="ScriptHandlerFactory"
           verb="*" path="*.asmx"
           type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
           resourceType="Unspecified" />
    </handlers>
  </system.webServer>

</configuration>
